<%-include('../components/header.ejs') %>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ced3ec5b7455b7ef2f55aba57f55b275"></script>
<script src="/client/js/course.js" defer></script>
</head>
<body>
  <nav class="nav-container">
    <p class="nav-title theme-font">용계역 여행</p>
    <div class="nav-sub-title">코스안내</div>
  </nav>
  <div class="content-container">
    <div class="loading-container hidden">
      <div class="loading-wrap">
        <div class="loading loading--full-height"></div>
      </div>
    </div>

    <ul class="course-wrap">
      <% for (let i=0; i < course.length; i++) {%>
      <li class="course" 
        data-name="<%= course[i].name %>" 
        data-code="<%= course[i].code %>"
        data-latitude="<%= course[i].latitude %>" 
        data-longitude="<%= course[i].longitude %>"
        data-visited="<%= course[i].visited %>"
      >
        <% if (course[i].visited==="Y" ) { %>
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <% } %>
        <p><%= course[i].name %></p>
      </li>
      <% } %>
      <li class="course on" data-code="USER">현재 위치</li>
    </ul>
    <div id="location-map"></div>
  </div>
<%-include('../components/footer.ejs') %>